@use '../base/variables' as v;
@use '../base/mixins' as m;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quattrocento Sans", sans-serif;
}

.text-heading {
    text-align: center;
    margin: 2rem 0;
    h2 {
        display:inline;
        border-bottom: 2px groove #000000;
        text-transform: uppercase;
        span {
            font-weight: 100;
        }
    }
   
}

h2 {
    text-align: center;
}

h6 {
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
  
.container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;

    @include m.mobile {
        margin: 0 auto;
    }
}