@use '../base/variables' as v;
@use '../base/mixins' as m;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quattrocento Sans", sans-serif;
}

.text-heading {
    text-align: center;
    margin: 2rem 0;
    h2 {
        display:inline;
        border-bottom: 2px groove #000000;
        text-transform: uppercase;
        span {
            font-weight: 100;
        }
    }
   
}


h6 {
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
}

h1,h2,h3 {
    font-size: 2rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}
  
.container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;

    @include m.mobile {
        margin: 0 auto;
    }
}

.text-centered {
    text-align: center;
}


.header-text {
    font-family: "Sevillana", cursive;
    font-size: 2.5rem;
    font-style: italic;
    padding-top: 3rem;
    text-align: right;
    color: v.$grayBlack;
    width: 50%;
    
    
    @include m.mobile {
        font-size: 2.5rem;
        text-align: center;
        width: 30%;
        padding-top: 5rem;
        p {
            margin-top: 6rem;
        }
    }  

  
}

.button-block {
    @include m.button($bg: v.$orange, $display: block);
}

.button-inline {
    @include m.button($bg: v.$orange, $display: inline-block);
}

.margin-bottom {
    margin-bottom: 2rem;
}