@mixin mobile {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin grid($columns, $rows) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
}