@use '../base/variables' as v;
@use '../base/mixins' as m;

.about {
    text-transform: uppercase;
    text-align: center;

    span {
        font-weight: 100;
    }

    @include m.mobile {
        background-position: top;
        flex-direction: column;
        margin: 0 auto;
    }
   
}

.icons-boxes {
    margin-top: 3rem;
    align-items: center;
    @include m.grid($columns: 1, $rows: 6);
    @include m.mobile {
            @include m.grid($columns: 2, $rows: 3);
    }
}

.icon {
    img {
        width: 100%;
        @include m.mobile {
        width: 70%;

        }
    }

    
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

