@use '../base/variables' as v;
@use '../base/mixins' as m;

.no-webp .start {
    background-image: url(/src/img/bgfinal.png);
}

.webp .start {
    background-image: url(../img/bgfinal.webp);
}

.header {
    @include m.bg-img($width: 85vw, $align: flex-end);
    height: 100vh;
    margin-bottom: 2rem;
    @include m.mobile {
        background-position: top;
        width: 100vw;
        height: 97vh;
    }
}

.heading {
    display: flex;

    @include m.mobile {
        justify-content: center; 
    }
   
}

.container-header {
    width: 90%;


    @include m.mobile {
        max-width: 1100px;
        width: 30%;
        margin: 0 auto;
    }

    .logo {
        margin-top: 1rem;
        padding-bottom: 2rem;

        @include m.mobile {
            margin-top: 7rem;
            width: 100%;

        }
    }

    img {
        width: 100%;
    }
}

.nav {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 300;
    justify-content: space-evenly;

    @include m.mobile {
        flex-direction: row;
    }
    
    a {
        font-size: 1.7rem;
        color: rgba(0, 0, 0, 0.61);
        padding: 1rem 0;
       
        @include m.mobile{
            font-size: 1.2rem;
        }
    }
    a:hover {
        color: rgb(0, 0, 0);
    }   
}


