@use 'base/variables' as v;

.alert {
    margin: .5rem 0;
    &.error {
        color: v.$error;
        text-transform: uppercase;
    }
    &.success {
        color: v.$success;
    }

}

table.reviews {
    border: solid 1px black;
    margin: 2rem 0;
    width: 100%;
    border-collapse: collapse;

    th {
        color: white;
        padding: 1rem;
        background-color: v.$orange;
        
    }

    td {
        padding: 1rem;
        border: solid 1px black;
    }
}

.image_review {
    width: 15rem;     
}