@use 'base/variables' as v;

.alert {
    margin: .5rem 0;
    &.error {
        color: v.$error;
        text-transform: uppercase;
    }
    &.success {
        color: v.$success;
        text-transform: uppercase;
    }

}